@model List<RolModel>
@{
    ViewData["Title"] = "Kategori Listele";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>@ViewData["Title"]</h2>
            <a class="btn btn-primary btn-sm mb-2" asp-action="Kayit" asp-controller="Rol">Yeni Kategori Kaydet</a>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Adı</th>
                        <th scope="col">Açıklama</th>
                        <th scope="col">Aktif</th>
                        <th scope="col">Oluşturma Tarih</th>
                        <th scope="col">Kullanici Sayisi</th>
                        <th scope="col">İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rol in Model)
                    {
                        <tr>
                            <th scope="row">@rol.Id</th>
                            <td>@rol.Adi</td>
                            <td>@rol.AktifMiDisplay</td>
                            <td>@rol.OlusturmaTarih</td>
                            <td>@rol.Kullanicilar.Count</td>
                            <td>
                                <a class="btn btn-primary btn-sm" asp-action="Sil" asp-route-id="@rol.Id">Sil</a>
                                <a class="btn btn-primary btn-sm" asp-action="Duzenle" asp-route-id="@rol.Id" >Düzenle</a>
                                <a class="btn btn-primary btn-sm" asp-action="Detay" asp-route-id="@rol.Id">Detay</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>