@model List<KullaniciModel>
@{
    ViewData["Title"] = "Kullanıcı İşlemleri";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>@ViewData["Title"]</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Kullanici Adi</th>
                        <th scope="col">E-Posta</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Aktif</th>
                        <th scope="col">İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var kullanici in Model)
                    {
                        <tr>
                        <th scope="row">@kullanici.Id</th>
                        <td>@kullanici.KullaniciAdi</td>
                        <td>@kullanici.ePosta</td>
                        <td>@kullanici.RolAdiDisplay</td>
                        <td>@kullanici.AktifDisplay</td>
                        <td>İŞLEM</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
