@model YorumRaporViewModel
@{

}
<form asp-action="Index" asp-controller="YorumRapor" autocomplete="off" id="form" data-ajax="true" data-ajax-method="post">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-3">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Kullanıcı Adı</span>
                <input asp-for="YorumFilte.KullaniciAdi" type="text" class="form-control" aria-label="Kullanıcı Adı" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>
        <div class="col-3">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Yorum Başlık</span>
                <input type="text" asp-for="YorumFilte.YorumBaslik" class="form-control" aria-label="Yorum Başlık" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>
        <div class="col-3">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Yorum İçerik</span>
                <input type="text" asp-for="YorumFilte.YorumIcerik" class="form-control" aria-label="Yorum Cevap" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>
        <div class="col-3">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Yorum İçerik</span>
                <input type="date" asp-for="YorumFilte.Tarih" class="form-control" aria-label="Yorum Cevap" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 30px;">
        <div class="col-2">
            <label asp-for="YorumFilte.KategoriIdleri"></label>
        </div>
        <div class="col-6">
            <select multiple asp-for="YorumFilte.KategoriId" asp-items="Model.KategorilerMultiSelectList" class="form-control kategoriler"></select>
        </div>
    </div>
    <div class="row" style="padding-bottom: 15px;">
        <div class="col-1">
            <label asp-for="Sayfa"></label>
        </div>
        <div class="col-1">
            <select asp-for="Sayfa.PageNumber" asp-items="Model.SayfalarSelectList" class="form-control" id="sayfa"></select>
        </div>
        <div class="col-6">
        </div>
        <div class="col-1">
            <label asp-for="Sira"></label>
        </div>
        <div class="col-2">

            @* Sıralama 1 *@
            <select asp-for="Sira.Expression" asp-items="Model.SiraSutunBasliklariSelectList" class="form-control sira" id="orderbyexpressionselect"></select>

        </div>
        <div class="col-1">

            @* Sıralama 1 *@
            <select asp-for="Sira.DirectionAscending" asp-items="Model.SiraYonSelectList" class="form-control sira" id="orderbydirectionselect"></select>

        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-primary" id="ara">Ara</button>
        </div>

    </div>
</form>

<div class="row">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Yorum Başlık</th>
                <th>Yorum İçerik</th>
                <th>Kategori</th>
                <th>Kullanıcı Adı</th>
                <th>Tarih</th>
                <th>Cevap Sayısı</th>
            </tr>
        <tbody>
                @if (Model.YorumlarRaporlar!=null)
                {
                    @foreach (var yorum in Model.YorumlarRaporlar)
                    {

                    <tr>
                        <td>@yorum.YorumBaslik</td>
                        <td>@yorum.YorumIcerik</td>
                        <td>@yorum.KategoriAdi</td>
                        <td>@yorum.KullaniciAdi</td>
                        <td>@yorum.TarihDisplay</td>
                        <td></td>
                    </tr>
                    }
                }
        </tbody>
    </table>
</div>

<script>
    $(function() {
            $('.tarih').datepicker({
                todayBtn: "linked",
                language: "tr",
                orientation: "bottom auto",
                autoclose: true,
                todayHighlight: true
            });

            //// Sayfalama
            //// Ara butonuna tıklandığında kayıtlar 1. sayfa üzerinden gelmeli.
            //// Sayfa numarası değiştiğinde form tekrar submit edilerek o sayfadaki kayıtlar getirilmeli.
            //$("#ara").click(function() {
            //    $("#sayfa").val("1");
            //});

            //// Sayfalama
            ////$("#sayfa").change(function() { // AJAX kullanmasaydık sayfa change event'ini bu şekilde tanımlayabilirdik
            ////    $("#form").submit();
            ////});
            //$(document).on("change", "#sayfa", function() { // AJAX kullandığımız için sayfa change event'i bu şekilde tanımlanmalıdır
            //    $("#form").submit();
            //});

            //// Sıralama 1
            //$(document).on("change", ".sira", function() {
            //    $("#form").submit();
            //});

            //// Sıralama 2
            //$(document).on("click", ".orderbyexpressionlink", function (event) { // AJAX kullandığımız için orderbyexpressionlink click event'i bu şekilde tanımlanmalıdır.
            //    event.preventDefault();
            //    $("#orderbyexpressionselect").val($(this).text()); // tıklanan link'in yazısını alıp select'in value'sunu set ediyoruz.
            //    var ascending = $("#orderbydirectionselect").val(); // asc için True, desc için False
            //    if (ascending === "True") { // link'e tıkladıkça artanı azalan, azalanı artan olarak değiştiriyoruz.
            //        ascending = "False";
            //    } else {
            //        ascending = "True";
            //    }
            //    $("#orderbydirectionselect").val(ascending); // yukarıda güncellediğimiz direction'ı select'in value'su olarak set ediyoruz.
            //    $("#form").submit();
            //});

            //$(".kategoriler").select2();

        });
</script>
